{% form_theme form "bootstrap_3_layout.html.twig" %}
{% extends 'ajaxBase.xml.twig' %}

{% block data %}
{% endblock %}

{% block segment %}
<div id="addSale">
    {{ form_start(form, {'action': path('add repairing order')}) }}
    <div class="panel panel-default">
        <div class="panel-body">
            <legend style="color: #009688">Create a repairing order</legend>

            {% embed 'flashWidget.html.twig' %}
            {% endembed %}

            {{ form_errors(form) }}
            <div class="hidden">
                {{ form_row(form.date) }}
            </div>
            <div>
                <label>Customer: </label>
                    <span id="customerName">

                    </span>
                {{ form_row(form.customerId) }}
            </div>
            <div>
                <label>Technician: </label>
                    <span id="technicianName">

                    </span>
                {{ form_row(form.technicianId) }}
            </div>
        </div>
        <div class="panel-footer" style="background-color:#ffffff;">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}