<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Tetragon{% endblock %}</title>
    {% block styles %}
        {% if app.debug %} {# Use minified bootstrap in production #}
            {% stylesheets
            "bundles/framework/css/bootstrap.css"
            "bundles/framework/css/bootstrap-theme.css" %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% else %}
            {% stylesheets filter="cssrewrite" output="css/app.css"
            "bundles/framework/css/bootstrap.min.css"
            "bundles/framework/css/bootstrap-theme.min.css" %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endif %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body>
<div class="container">
    {% block body %}{% endblock %}
</div>

{% block scripts %}
{% endblock %}
{% if app.debug %} {# Use minified bootstrap in production #}
    {% javascripts
    "bundles/framework/js/bootstrap.js" %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% else %}
    {% javascripts
    "bundles/framework/js/bootstrap.min.js" %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endif %}

</body>
</html>
