<!DOCTYPE html>
{# Some assets here are based on bower #}
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Tetragon{% endblock %}</title>
    {% block styles %}
        {% if app.debug %} {# Use minified bootstrap in production #}
            <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.css') }}"/>
            <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap-theme.css') }}"/>
        {% else %}
            <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap-theme.min.css') }}"/>
        {% endif %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Tetragon</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="help.html">Help <span class="glyphicon glyphicon-question-sign"></span></a></li>
                <li><a href="#">About <span class="glyphicon glyphicon-info-sign"></span></a></li>
                <li><a href="#" onclick="window.close()">Exit <span class="glyphicon glyphicon-remove-sign"></span></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Account <span class="glyphicon glyphicon-king"></span></a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div id="main" class="container">
    <nav class="navbar"></nav> {# Dummy navbar. Works as a responsive spacer. #}
    {% block body %}{% endblock %}
</div>

{% if app.debug %} {# Use minified bootstrap in production #}
    <script src="{{ asset('assets/vendor/jquery/dist/jquery.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.js') }}"></script>
{% else %}
    <script src="{{ asset('assets/vendor/jquery/dist/jquery.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.js') }}"></script>
{% endif %}

{% block scripts %}
{% endblock %}
</body>
</html>
