{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-sm-offset-1 col-sm-10">
        <div class="jumbotron row" style="margin-top:25%">
            <div class="col-xs-12 col-sm-4" style="text-align: center">
                <a href="{{ path('new sales order') }}" ><i class="material-icons" style="font-size: 60pt;color: #0fb2fc">add_shopping_cart</i></a>
                <br>

                <a href="{{ path('new sales order') }}" class="btn btn-raised btn-primary col-xs-12">New Order</a>
            </div>
            <div class="col-xs-12 col-sm-4" style="text-align: center">
                <a href="{{ path('search selling_items') }}" ><i class="material-icons" style="font-size: 60pt;color: #0fb2fc">search</i></a>
                <br>

                <a href="{{ path('search selling_items') }}" class="btn btn-raised btn-primary col-xs-12">Item Inquiry</a>
            </div>
            <div class="col-xs-12 col-sm-4" style="text-align: center">
                <a href="{{ path('add sales order') }}" ><i class="material-icons" style="font-size: 60pt;color: #0fb2fc">swap_horiz</i></a>
                <br>

                <a href="{{ path('add sales order') }}" class="btn btn-raised btn-primary col-xs-12">Warranty Claim</a>
            </div>
        </div>


    </div>
{% endblock %}