{% extends "::base.html.twig" %}

{% block title %}Repairs Inventory{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <h1>Welcome to the Repairs inventory page</h1>

        {% embed 'flashWidget.html.twig' %}
        {% endembed %}

        <div>
            <table id="details" class="table table-responsive table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Due Date</th>
                    <th>Repaired?</th>
                </tr>

                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.due.format('Y-m-d H:i:s') }} </td>
                        <td>
                            <div class="togglebutton">
                                <label>
                                    <input type="checkbox"
                                           {% if item.isRepaired %}checked{% else %}unchecked{% endif %}>
                                </label>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <button type="button" class="btn btn-link">
            <a href="{{ path('search repairing items') }}">Search items</a>
        </button>
    </div>

    <ul id="contextMenu" class="dropdown-menu" role="menu" style="display:none">
        <li><a tabindex="-1" href="#">View</a></li>
        <li><a tabindex="-1" href="#">Edit</a></li>
    </ul>
{% endblock %}
{% block scripts %}
    <script src="{{ asset('bundles/app/contextmenu.js') }}"></script>
    <script>
        $("#details").find("tbody tr").contextMenu({
            menuSelector: "#contextMenu",
            menuSelected: function (invokedOn, selectedMenu) {
                selectedId = invokedOn.parent().find('td').first().text();
                viewPath = '{{ path('view repairing item', {'id': '0' }) }}'; // TWIG generated url
                editPath = '{{ path('edit repairing item', {'id': '0' }) }}'; // TWIG generated url
                if (selectedMenu.text() === 'View') {
                    window.location.href = viewPath.replace("0", selectedId);
                } else if (selectedMenu.text() === 'Edit') {
                    window.location.href = editPath.replace("0", selectedId);
                }
            }
        });
    </script>
{% endblock %}