{% form_theme form "bootstrap_3_layout.html.twig" %}
{% extends "::base.html.twig" %}

{% block title %}Modify a Repairing Item {% endblock %}

{% block body %}
    <h1>Modify</h1>

    {% embed 'flashWidget.html.twig' %}
    {% endembed %}

    {{ form_start(form, {'action': path('update item', {'id': id }), 'method': 'POST'}) }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Modify Repairing Item</h3>
            <!-- FIXME this should be PUT, symfony has a bug which doesn't allow the PUT request to handled -->
        </div>
        <div id="modify">
            <div class="panel-body">
                {{ form_errors(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.due.format('Y-m-d H:i:s')) }}
                {{ form_row(form.price) }}
                {{ form_row(form.isRepaired) }}
            </div>
            <div class="panel-footer">
                {{ form_rest(form) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
