{% form_theme form "bootstrap_3_layout.html.twig" %}
{% extends "::base.html.twig" %}

{% block title %}Add an Employee{% endblock %}

{% block body %}
    <h1>Add New Employee</h1>

    {% embed 'flashWidget.html.twig' %}
    {% endembed %}

    {{ form_start(form, {'action': path('add employee')}) }}
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color:#26b899;">
            <h3 style="color:#ffffff" class="panel-title"><strong>Add Employee</strong></h3>
        </div>
        <div id="add">
            <div class="panel-body">
                {{ form_errors(form) }}
                {{ form_row(form.id) }}
                {{ form_row(form.name) }}
                {{ form_row(form.sysUser.username) }}
                {{ form_row(form.role) }}
                {{ form_row(form.sysUser.plain_password) }}
                {{ form_row(form.sysUser.confirm_password) }}
                {{ form_row(form.address) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.email) }}
                {{ form_row(form.sysUser.email) }}
                {{ form_row(form.nic) }}
            </div>

        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
