{% form_theme form "bootstrap_3_layout.html.twig" %}
{% extends "::base.html.twig" %}

{% block title %}AppBundle:Employee:index{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <h1>Welcome to the Employees page</h1>

        {% for flash_message in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                <strong>Success: </strong>{{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">
                <strong>Error: </strong>{{ flash_message }}
            </div>
        {% endfor %}

        <div>
            <table id="details" class="table table-responsive table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>E-mail</th>
                    <th>NIC number</th>
                </tr>
                </thead>
                <tbody>
                {% for employee in employees %}
                    <tr>
                        <td>{{ employee.id }}</td>
                        <td>{{ employee.name }}</td>
                        <td>{{ employeetype }}</td>
                        <td>{{ employee.address }}</td>
                        <td>{{ employee.phone }}</td>
                        <td>{{ employee.email }}</td>
                        <td>{{ employee.nic }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
