{% form_theme form "bootstrap_3_layout.html.twig" %}
{% extends "::base.html.twig" %}

{% block title %}Modify an Employee record{% endblock %}

{% block body %}

    {% embed 'flashWidget.html.twig' %}
    {% endembed %}

    {{ form_start(form, {'action': path('update employee', {'id': id }), 'method': 'POST'}) }}
    <div class="panel panel-default">
        <div id="modify">
            <div class="panel-body">
                <legend style="color: #009688">Modify Employee</legend>
                {{ form_errors(form) }}
                {{ form_row(form.id) }}
                {{ form_row(form.name) }}
                {{ form_row(form.sysUser.username) }}
                {% if is_granted('ROLE_ADMIN') %}
                    {{ form_row(form.role) }}
                {% endif %}
                {{ form_row(form.sysUser.plain_password) }}
                {{ form_row(form.sysUser.confirm_password) }}
                {{ form_row(form.address) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.email) }}
                {{ form_row(form.sysUser.email) }}
                {{ form_row(form.nic) }}
            </div>
            <div class="panel-footer" style="background-color: #ffffff">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
