{% form_theme form "bootstrap_3_layout.html.twig" %}
{% extends "::base.html.twig" %}

{% block title %}Modify an Employee record{% endblock %}

{% block body %}
    <h1>Welcome to the Employee:modify page</h1>

    {% embed 'flashWidget.html.twig' %}
    {% endembed %}

    {{ form_start(form, {'action': path('update employee', {'id': id }), 'method': 'POST'}) }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Modify Employee</h3>
            <!-- FIXME this should be PUT, symfony has a bug which doesn't allow the PUT request to handled -->
        </div>
        <div id="modify">
            <div class="panel-body">
                {{ form_errors(form) }}
                {{ form_row(form.id) }}
                {{ form_row(form.name) }}
                {{ form_row(form.sysUser.username) }}
                {{ form_row(form.role) }}
                {{ form_row(form.sysUser.plain_password) }}
                {{ form_row(form.sysUser.confirm_password) }}
                {{ form_row(form.address) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.email) }}
                {{ form_row(form.sysUser.email) }}
                {{ form_row(form.nic) }}
            </div>
            <div class="panel-footer">
                {{ form_rest(form) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
