{% form_theme form "bootstrap_3_layout.html.twig" %}
{% extends "::base.html.twig" %}

{% block title %}Employees{% endblock %}

{% block body %}
    <div class="col-sm-12">

        {% embed 'flashWidget.html.twig' %}
        {% endembed %}

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="panel panel-default">
            <div id="add" class="panel-collapse">
                <div class="panel-body">
                    <legend style="color: #009688">Search for an Employee</legend>
                    {{ form_errors(form) }}
                    {{ form_row(form.name) }}
                    {#{{ form_row(form.role) }}#}
                    {{ form_row(form.address) }}
                    {{ form_row(form.phone) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.nic) }}
                </div>
                <div class="panel-footer" style="background-color:#ffffff">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            </div>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}
