{% extends "::base.html.twig" %}

{% block title %}Employees{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <legend>View Employee</legend>

        {% embed 'flashWidget.html.twig' %}
        {% endembed %}

        {% if employee != null %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ employee.name }}</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <label class="list-group-item-text h4">Address: </label>
                            {{ employee.address }}
                        </li>
                        <li class="list-group-item">
                            <label class="list-group-item-text h4">Phone: </label>
                            {{ employee.phone }}
                        </li>
                        <li class="list-group-item">
                            <label class="list-group-item-text h4">E-mail: </label>
                            <a href="mailto:{{ employee.email }}">
                                {{ employee.email }}
                            </a>
                        </li>
                        <li class="list-group-item">
                            <label class="list-group-item-text h4">NIC number: </label>
                            {{ employee.nic }}
                        </li>
                    </ul>
                </div>
                <div class="panel-footer" style="background-color: #ffffff">
                    <button type="button" class="btn btn-primary">
                        Edit
                    </button>

                </div>
            </div>

            {% if employee.sales is defined %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Sales
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-responsive table-hover">
                            <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Order Date</th>
                                <th>Customer</th>
                                <th>Items Count</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sale in employee.sales %}
                                <tr>
                                    <td>
                                        <a href="{{ path('view sales order', { 'id' : sale.id }) }}">
                                            {{ sale.id }}
                                        </a>
                                    </td>
                                    <td>{{ sale.date.format('Y-m-d H:i:s') }}</td>
                                    <td>
                                        <a href="{{ path('view customer', {'id' : sale.customer.id}) }}">
                                            {{ sale.customer.name }}
                                        </a>
                                    </td>
                                    <td>{{ sale.items.count }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

            {% if employee.repairs is defined %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Repairs
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-responsive table-hover">
                            <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Order Date</th>
                                <th>Customer</th>
                                <th>Items Count</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for repair in employee.repairs %}
                                <tr>
                                    <td>
                                        <a href="{{ path('view sales order', { 'id' : repair.id }) }}">
                                            {{ repair.id }}
                                        </a>
                                    </td>
                                    <td>{{ repair.date.format('Y-m-d H:i:s') }}</td>
                                    <td>
                                        <a href="{{ path('view customer', {'id' : repair.customer.id}) }}">
                                            {{ repair.customer.name }}
                                        </a>
                                    </td>
                                    <td>{{ repair.items.count }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

        {% endif %}

    </div>
{% endblock %}