{% form_theme form "bootstrap_3_layout.html.twig" %}
{% extends "::base.html.twig" %}

{% block title %}Add an item{% endblock %}

{% block body %}

    <h1> Add an item </h1>

    {% embed 'flashWidget.html.twig' %}
    {% endembed %}

    {{ form_start(form, {'action': path('add item')}) }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Add item</h3>
        </div>
        <div id="add">
            <div class="panel-body">
                {{ form_errors(form) }}
                {{ form_row(form.category) }}
                {{ form_row(form.name) }}
                {{ form_row(form.brand) }}
                {{ form_row(form.model) }}
                {{ form_row(form.serial) }}
                {{ form_row(form.description) }}
                {{ form_row(form.price) }}
                {#{{ form_row(form.isSold) }}#}
                {#{{ form_row(form.warrantyExpiration) }}#}
                {#{{ form_row(form.isWarrantyClaimed) }}#}
            </div>
            <div class="panel-footer" style="background-color:#ffffff;">
                {{ form_rest(form) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
