{% form_theme form "bootstrap_3_layout.html.twig" %}
{% extends "::base.html.twig" %}

{% block title %}Modify a SalesInventory record{% endblock %}

{% block body %}
<h1>Welcome to the SalesInventory:modify page</h1>

{% embed 'flashWidget.html.twig' %}
{% endembed %}

    {{ form_start(form, {'action': path('update item', {'id': id }), 'method': 'POST'}) }}
<div class="panel panel-default">
    <div class="panel-heading">
        <!-- FIXME this should be PUT, symfony has a bug which doesn't allow the PUT request to handled -->
    </div>
    <div id="modify">
        <div class="panel-body">
            {{ form_errors(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.model) }}
            {{ form_row(form.description) }}
            {{ form_row(form.category) }}
            {{ form_row(form.price) }}
            {{ form_row(form.brand) }}
            {#{{ form_row(form.isSold) }}#}
            {{ form_row(form.serial) }}
            {{ form_row(form.warrantyPeriod) }}
            {#{{ form_row(form.isWarrantyClaimed) }}#}
            {#{{ form_row(form.warrantyExpiration) }}#}
        </div>
            <div class="panel-footer">
                {{ form_rest(form) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    {% endblock %}
