{% extends "::base.html.twig" %}

{% block title %}Sales inventory{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <legend>View Selling Item</legend>

        {% embed 'flashWidget.html.twig' %}
        {% endembed %}

        {% if SalesInv != null %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ SalesInv.serial }}</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <label class="list-group-item-text h4">Name: </label>
                            {{ SalesInv.name }}
                        </li>
                        <li class="list-group-item">
                            <label class="list-group-item-text h4">Model: </label>
                            {{ SalesInv.model }}
                        </li>
                        <li class="list-group-item">
                            <label class="list-group-item-text h4">Brand: </label>
                            {{ SalesInv.brand }}
                        </li>
                        <li class="list-group-item">
                            <label class="list-group-item-text h4">Price: </label>
                            {{ SalesInv.price }}
                        </li>
                        <li class="list-group-item">
                            <label class="list-group-item-text h4">Description: </label>
                            {{ SalesInv.description }}
                        </li>
                        <li class="list-group-item">
                            <label class="list-group-item-text h4">Serial: </label>
                            {{ SalesInv.serial }}
                        </li>

                        <li class="list-group-item">
                            {% if SalesInv.isSold %}
                                <label class="list-group-item-text h4">Warranty Expire: </label>
                                {% if SalesInv.warrantyExpiration is not null %}
                                    {{ SalesInv.warrantyExpiration.format('Y-m-d H:i:s') }}
                                {% else %}
                                    Not Available
                                {% endif %}
                            {% else %}
                                <label class="list-group-item-text h4">Warranty Period: </label>
                                {{ SalesInv.warrantyPeriod }}
                            {% endif %}

                        </li>

                        <li class="list-group-item">
                            <label class="list-group-item-text h4">Availability: </label>
                            {% if SalesInv.isSold %}
                                {{ 'Sold/NotAvailable' }}
                            {% else %}
                                {{ 'Available in the store' }}
                            {% endif %}

                        </li>
                    </ul>
                </div>
                <div class="panel-footer" style="background-color: #ffffff">

                    <button type="button" class="btn btn-primary">
                        <a href="{{ path('edit item', {'id': SalesInv.id }) }}">Edit</a>
                    </button>
                    {% if SalesInv.isSold and not SalesInv.warrantyExpiration is null and not SalesInv.isWarrantyClaimed %}
                        <button type="button" class="btn btn-danger">
                            <a href="{{ path('claim item', {'id': SalesInv.id}) }}">Warranty Claim</a>
                        </button>
                    {% endif %}
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Order
                    </h3>
                </div>
                <div class="panel-body">
                    {% if SalesInv.order is not null %}
                        <table class="table table-responsive table-hover">
                            <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Date</th>
                                <th>Customer Name</th>
                                <th>Customer Phone Number</th>
                                <th>Sales Clarke</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <a href="{{ path('view sales order', {'id':SalesInv.order.id }) }}">
                                        {{ SalesInv.order.id }}
                                    </a>
                                </td>
                                <td>{{ SalesInv.order.date.format('Y-m-d H:i:s') }}</td>
                                <td>{{ SalesInv.order.customer.name }}</td>
                                <td>{{ SalesInv.order.customer.phone }}</td>
                                <td>{{ SalesInv.order.salesClerk.name }}</td>
                            </tr>
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}