{% form_theme form "bootstrap_3_layout.html.twig" %}
{% extends "::base.html.twig" %}

{% block title %}Add a customer{% endblock %}

{% block body %}
    <h1>Add New Customer</h1>

    {% embed 'flashWidget.html.twig' %}
    {% endembed %}

    {{ form_start(form, {'action': path('add customer')}) }}
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color:#26b899;">
            <h3 style="color:#ffffff" class="panel-title"><strong>Add Customer</strong></h3>
        </div>
        <div id="add">
            <div class="panel-body">
                {{ form_errors(form) }}
                {{ form_row(form.id) }}
                {{ form_row(form.name) }}
                {{ form_row(form.address) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.email) }}
                {{ form_row(form.nic) }}
            </div>
            <div class="panel-footer" style="background-color:#ffffff;">
                {{ form_rest(form) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
