{% form_theme form "bootstrap_3_layout.html.twig" %}
{% extends "::base.html.twig" %}

{% block title %}Add a customer{% endblock %}

{% block body %}
    <h1>Add New Customer</h1>

    {% embed 'flashWidget.html.twig' %}
    {% endembed %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Add Customer</h3>
            {{ form_start(form, {'action': path('add customer')}) }}
        </div>
        <div id="add">
            <div class="panel-body">
                {{ form_row(form.id) }}
                {{ form_row(form.name) }}
                {{ form_row(form.address) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.email) }}
                {{ form_row(form.nic) }}
            </div>
            <div class="panel-footer">
                {{ form_rest(form) }}
                {{ form_errors(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
