{% form_theme form "bootstrap_3_layout.html.twig" %}
{% extends "::base.html.twig" %}

{% block title %}Modify a customer record{% endblock %}

{% block body %}
    <h1>Welcome to the Customer:modify page</h1>

    {% embed 'flashWidget.html.twig' %}
    {% endembed %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Modify Customer</h3>
            {{ form_start(form, {'action': path('update customer', {'id': id }), 'method': 'POST'}) }}
            <!-- FIXME this should be PUT, symfony has a bug which doesn't allow the PUT request to handled -->
        </div>
        <div id="modify">
            <div class="panel-body">
                {{ form_row(form.id) }}
                {{ form_row(form.name) }}
                {{ form_row(form.address) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.email) }}
                {{ form_row(form.nic) }}
            </div>
            <div class="panel-footer">
                {{ form_rest(form) }}
                {{ form_errors(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
