{% extends "::base.html.twig" %}

{% block title %}Customers{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <Legend>View Customer</Legend>

        {% embed 'flashWidget.html.twig' %}
        {% endembed %}

        {% if customer != null %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ customer.name }}</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <label class="list-group-item-text h4">Address:   </label>
                            {{ customer.address }}
                        </li>
                        <li class="list-group-item">
                            <label class="list-group-item-text h4">Phone:   </label>
                            {{ customer.phone }}
                        </li>
                        <li class="list-group-item">
                            <label class="list-group-item-text h4">E-mail:   </label>
                            <a href="mailto:{{ customer.email }}">
                                {{ customer.email }}
                            </a>
                        </li>
                        <li class="list-group-item">
                            <label class="list-group-item-text h4">NIC number:   </label>
                            {{ customer.nic }}
                        </li>
                    </ul>
                </div>
                <div class="panel-footer" style="background-color: #ffffff">
                    <button type="button" class="btn btn-primary">
                        Back
                    </button>
                    <a href="{{ path('edit customer', {'id' : customer.id}) }}">
                        <button type="button" class="btn btn-primary">Edit</button>
                    </a>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Buyings
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-responsive table-hover">
                        <thead>
                        <tr>
                            <th>Buying ID</th>
                            <th>Order Date</th>
                            <th>Sales Clerk</th>
                            <th>Item Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for buying in customer.buyings %}
                            <tr>
                                <td>
                                    <a href="{{ path('view sales order', { 'id' : buying.id }) }}">
                                        {{ buying.id }}
                                    </a>
                                </td>
                                <td>{{ buying.date.format('Y-m-d H:i:s') }}</td>
                                <td>
                                    <a href="{{ path('view employee', {'id': buying.salesClerk.id}) }}">
                                        {{ buying.salesClerk.name }}
                                    </a>
                                </td>
                                <td>{{ buying.items.count }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Repairs
                    </h3>
                </div>
                <div class="panel-body ">
                    <table class="table table-responsive table-hover">
                        <thead>
                        <tr >
                            <th>Repair ID</th>
                            <th>Order Date</th>
                            <th>Sales Clerk</th>
                            <th>Items Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for repair in customer.repairs %}
                            <tr>
                                <td>
                                    <a href="{{ path('view repairing order', { 'id' : repair.id }) }}">
                                        {{ repair.id }}
                                    </a>
                                </td>
                                <td>{{ repair.date.format('Y-m-d H:i:s') }}</td>
                                <td>
                                    <a href="{{ path('view employee', {'id' : repair.technician.id}) }}">
                                        {{ repair.technician.name }}
                                    </a>
                                </td>
                                <td>{{ repair.items.count }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        {% endif %}

    </div>
{% endblock %}