{% extends "::base.html.twig" %}

{% block title %}Customers{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <h1>Welcome to the Customer page</h1>

        {% embed 'flashWidget.html.twig' %}
        {% endembed %}

        {% if customer != null %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ customer.name }}</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <label class="list-group-item-heading">Address: </label>
                            {{ customer.address }}
                        </li>
                        <li class="list-group-item">
                            <label class="list-group-item-heading">Phone: </label>
                            {{ customer.phone }}
                        </li>
                        <li class="list-group-item">
                            <label class="list-group-item-heading">E-mail: </label>
                            {{ customer.email }}
                        </li>
                        <li class="list-group-item">
                            <label class="list-group-item-heading">NIC number: </label>
                            {{ customer.nic }}
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-default">
                        Back
                    </button>
                    <a href="{{ path('edit customer', {'id' : customer.id}) }}">
                        <button type="button" class="btn btn-primary">Edit</button>
                    </a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Buyings
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-responsive table-hover">
                        <thead>
                        <tr>
                            <th>Buying ID</th>
                            <th>Buying Date</th>
                            <th>Sales Clerk</th>
                            <th>Items</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for buying in customer.buyings %}
                            <tr>
                                <td>{{ buying.id }}</td>
                                <td>{{ buying.date.format('Y-m-d H:i:s') }}</td>
                                <td>{{ buying.salesClerk.name }}</td>
                                <td>

                                    <table class="table table-responsive">
                                        <thead>
                                        <tr>
                                            <th>Item ID</th>
                                            <th>Item Name</th>
                                            <th>Item Price</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in buying.items %}
                                            <tr>
                                                <td>{{ item.id }}</td>
                                                <td>{{ item.name }}</td>
                                                <td>{{ item.price }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}