{% form_theme form "bootstrap_3_layout.html.twig" %}
{% extends "::base.html.twig" %}

{% block title %}Create new order{% endblock %}

{% block body %}

    <div id="addSale">
        {{ form_start(form, {'action': path('add sales order')}) }}
        <div class="panel panel-default">
            <div class="panel-body">
                <legend style="color: #009688">Create a sales order</legend>

                {% embed 'flashWidget.html.twig' %}
                {% endembed %}

                {{ form_errors(form) }}
                <div class="hidden">
                    {{ form_row(form.date) }}
                </div>
                <div>
                    <label>Customer: </label>
                    <span id="customerName">

                    </span>
                    {{ form_row(form.customerId) }}
                </div>
                <div>
                    <label>Sales Clerk: </label>
                    <span id="salesClerkName">

                    </span>
                    {{ form_row(form.salesClerkId) }}
                </div>
            </div>
            <div class="panel-footer" style="background-color:#ffffff;">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>


    <div id="salesClerkSearch">
        <h4 class="h4">Sales Clerk Search</h4>
        <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 100%">Loading...</div>
        </div>
    </div>

    <div id="customerSearch">
        <h4 class="h4">Customer Search</h4>
        <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 100%">Loading...</div>
        </div>
    </div>
    <input class="btn btn-primary" name="answer" value="New Customer" onclick="showDiv()" />
    <div id="customerCreate" style="display:none;" class="answer_list">
        <h4 class="h4">Create a customer</h4>
        <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 100%">Loading...</div>
        </div>
    </div>



    <div id="inventorySearch">

    </div>

    <div id="addItem">

    </div>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>

        var orderId = 0;  // Used when adding items to the order

        $(document).ready(
                function () {

                    // override main form submission
                    $("body").on('submit', 'form[name=sales_order]', function (e) {
                        e.preventDefault();

                        var temp = $('#addSale').html(); // keep this in case of an error
                        var customerName = $('#customerName').html();
                        var salesClerkName = $('#salesClerkName').html();

                        $.ajax({
                            type: $(this).attr('method'),
                            url: $(this).attr('action'),
                            data: $(this).serialize(),
                            cache: false,
                            success: function (result, status, xhr) {
                                var xml = $.parseXML(result);
                                var $xml = $(xml);
                                $('#addSale').html($xml.find('segment').html());
                                //alert('>' + $.trim($xml.find('data').text()) + '<');
                                if ($.trim($xml.find('data').text()) != '' && $.trim($xml.find('data').text()) != 0) {
                                    // this means request successful
                                    orderId = $.trim($xml.find('data').text()); // store the order id for further use.
                                    // remove all add customer etc. forms. They are not needed anymore.
                                    // And, load item adding form.

                                    // inventory item search
                                    $.get("{{ path('ajax search selling items by serial') }}", function (resp) {
                                        var xml = $.parseXML(resp);
                                        var $xml = $(xml);
                                        $('#inventorySearch').html($xml.find('segment').html());

                                        var clickAction = function (e) {
                                            e.preventDefault();

                                            var temp = $('#inventorySearch').html();

                                            $.ajax({
                                                type: 'POST',
                                                url: "{{ path('ajax search selling items by serial') }}",
                                                data: {serial: $('#inventorySearch').find('input[name=serial]').val()},
                                                cache: false,
                                                success: function (result, status, xhr) {
                                                    var xml = $.parseXML(result);
                                                    var $xml = $(xml);
                                                    $('#inventorySearch').html($xml.find('segment').html());
                                                    $('#inventorySearch').find('tbody tr').click(function () {
                                                        $('#addItem').find('#itemId').html($.trim($(this).find('td').first().text()));
                                                        $('#addItem').find('#itemName').html($.trim($(this).find('td').first().next().text()));
                                                    });

                                                    $('#inventorySearch').find('button[type=submit]').click(clickAction);
                                                },
                                                error: function (xhr, status, error) {
                                                    alert(error);
                                                    $('#inventorySearch').html(temp);
                                                }

                                            });

                                            $('#inventorySearch').html(
                                                    '<h4 class="h4">Searching...</h4>' +
                                                    '<div class="progress progress-striped active">' +
                                                    '<div class="progress-bar" style="width: 100%">Loading...</div>' +
                                                    '</div>'
                                            );

                                        };

                                        $('#inventorySearch').find('button[type=submit]').click(clickAction);
                                    });

                                    // add item dialog -- WARNING twig generated path
                                    $.get("{{ path('ajax add item to sales order', {'id': 0}) }}".replace("0", orderId), function (resp) {
                                        var xml = $.parseXML(resp);
                                        var $xml = $(xml);
                                        $('#addItem').html($xml.find('segment').html());

                                        var clickAction = function (e) {
                                            e.preventDefault();

                                            var temp = $('#addItem').html();

                                            $.ajax({
                                                type: 'POST',
                                                url: "{{ path('ajax add item to sales order', {'id': 0 }) }}".replace("0", orderId),
                                                data: {
                                                    itemId: $.trim($('#addItem').find('#itemId').text()),
                                                    expire: $('#addItem').find('input[name=expire]').val()
                                                },
                                                cache: false,
                                                success: function (result, status, xhr) {
                                                    var xml = $.parseXML(result);
                                                    var $xml = $(xml);
                                                    $('#addItem').html($xml.find('segment').html());
                                                    $('#addItem').find('button[name=add]').click(clickAction);
                                                    $('#addItem').find('div.panel-footer').append(
                                                            '<a id="inventory_items_finish" href="{{ path('view sales order', {'id': 0}) }}"'.replace('0', orderId) +
                                                            ' class="btn btn-success">' +
                                                            'Finish' +
                                                            '</a>');
                                                    {# FIXME if an error, but form loaded successfully, it will enable finish button #}
                                                },
                                                error: function (xhr, status, error) {
                                                    alert(error);
                                                    $('#addItem').html(temp);
                                                }

                                            });

                                            $('#addItem').html(
                                                    '<h4 class="h4">Adding...</h4>' +
                                                    '<div class="progress progress-striped active">' +
                                                    '<div class="progress-bar" style="width: 100%">Loading...</div>' +
                                                    '</div>'
                                            );

                                        };

                                        $('#addItem').find('button[name=add]').click(clickAction);
                                    });

                                    $('#customerSearch').html('');
                                    $('#customerCreate').html('');
                                    $('#salesClerkSearch').html('');
                                } /* request successful end */ else { // request returned 'successfully' with an error
                                    $('#customerName').html(customerName);
                                    $('#salesClerkName').html(salesClerkName);
                                }
                            },
                            error: function (xhr, status, error) {
                                alert(error);
                                $('#addSale').html(temp);
                            }
                        });

                        $('#addSale').html(
                                '<h4 class="h4">Working...</h4>' +
                                '<div class="progress progress-striped active">' +
                                '<div class="progress-bar" style="width: 100%">Loading...</div>' +
                                '</div>'
                        );

                    }); // main form submit

                    // load create new customer page
                    $.get("{{ path('ajax new customer') }}", function (resp) {
                        var xml = $.parseXML(resp);
                        var $xml = $(xml);
                        $('#customerCreate').html($xml.find('segment').html());

                        $('#customerCreate').on('submit', 'form[name=customer]', function (e) {
                            e.preventDefault();

                            var temp = $('#customerCreate').html();

                            $.ajax({
                                type: $(this).attr('method'),
                                url: $(this).attr('action'),
                                data: $(this).serialize(),
                                cache: false,
                                success: function (result, status, xhr) {
                                    var xml = $.parseXML(result);
                                    var $xml = $(xml);
                                    $('#customerCreate').html($xml.find('segment').html());
                                    $('#sales_order_customerId').val($.trim($xml.find('data').text()));
                                },
                                error: function (xhr, status, error) {
                                    alert(error);
                                    $('#customerCreate').html(temp)
                                }
                            });

                            $('#customerCreate').html(
                                    '<h4 class="h4">Adding...</h4>' +
                                    '<div class="progress progress-striped active">' +
                                    '<div class="progress-bar" style="width: 100%">Loading...</div>' +
                                    '</div>'
                            );

                        });
                    }); // create a new customer

                    // load customer search by name page
                    // we don't use advanced searching because when we create an order, customer is with us
                    // so knowing the name is enough to get customer account if exists.
                    $.get("{{ path('ajax search customers by name') }}", function (resp) {
                        var xml = $.parseXML(resp);
                        var $xml = $(xml);
                        $('#customerSearch').html($xml.find('segment').html());

                        var clickAction = function (e) {
                            e.preventDefault();

                            var temp = $('#customerSearch').html();

                            $.ajax({
                                type: 'POST',
                                url: "{{ path('ajax search customers by name') }}",  // only load sales clerks
                                data: {name: $('#customerSearch').find('input[name=name]').val()},
                                cache: false,
                                success: function (result, status, xhr) {
                                    var xml = $.parseXML(result);
                                    var $xml = $(xml);
                                    $('#customerSearch').html($xml.find('segment').html());
                                    $('#customerSearch').find('tbody tr').click(function () {
                                        $('#sales_order_customerId').val($.trim($(this).find('td').first().text()));
                                        $('#customerName').html($.trim($(this).find('td').first().next().text()));
                                    });

                                    $('#customerSearch').find('button[type=submit]').click(clickAction);
                                },
                                error: function (xhr, status, error) {
                                    alert(error);
                                    $('#customerSearch').html(temp);
                                }
                            });

                            $('#customerSearch').html(
                                    '<h4 class="h4">Searching...</h4>' +
                                    '<div class="progress progress-striped active">' +
                                    '<div class="progress-bar" style="width: 100%">Loading...</div>' +
                                    '</div>'
                            );

                        };

                        $('#customerSearch').find('button[type=submit]').click(clickAction);
                    }); // search customers by name

                    // load a sales clerk
                    // this sales clerk creates the order
                    {# TODO automatically load currently logged in employee name #}
                    $.get("{{ path('ajax search employees by name') }}", function (resp) {
                        var xml = $.parseXML(resp);
                        var $xml = $(xml);
                        $('#salesClerkSearch').html($xml.find('segment').html());

                        var clickAction = function (e) {
                            e.preventDefault();

                            var temp = $('#salesClerkSearch').html();

                            $.ajax({
                                type: 'POST',
                                url: "{{ path('ajax search employees by name') }}",
                                data: {
                                    name: $('#salesClerkSearch').find('input[name=name]').val(),
                                    role: 'salesclerk'
                                },
                                cache: false,
                                success: function (result, status, xhr) {
                                    var xml = $.parseXML(result);
                                    var $xml = $(xml);
                                    $('#salesClerkSearch').html($xml.find('segment').html());
                                    $('#salesClerkSearch').find('tbody tr').click(function () {
                                        $('#sales_order_salesClerkId').val($.trim($(this).find('td').first().text()));
                                        $('#salesClerkName').html($.trim($(this).find('td').first().next().text()));
                                    });

                                    $('#salesClerkSearch').find('button[type=submit]').click(clickAction);
                                },
                                error: function (xhr, status, error) {
                                    alert(error);
                                    $('#salesClerkSearch').html(temp);
                                }
                            });

                            $('#salesClerkSearch').html(
                                    '<h4 class="h4">Searching...</h4>' +
                                    '<div class="progress progress-striped active">' +
                                    '<div class="progress-bar" style="width: 100%">Loading...</div>' +
                                    '</div>'
                            );

                        };

                        $('#salesClerkSearch').find('button[type=submit]').click(clickAction);
                    }); // get search employees by name

                } // enclosing function
        ); // document ready

        function showDiv() {
            document.getElementById('customerCreate').style.display = "block";
        }
    </script>
{% endblock %}
